.div-products-all{
    height: fit-content;
    /* border:2px solid red; */
    width: 18%;
    min-width: 15%;
    transition: 0.25s;
    padding: 1rem;
    /* background-color: rgb(244, 217, 181); */

}
.div-products-all:hover{
    box-shadow: 2px 5px 5px 3px rgb(240, 240, 240);
    transform: translateY(-15px);
}
.img-all{
    width: 100%;
    /* border: 2px solid pink */
}
.all-obj-contianer{
    display:flex;
    /* border: 2px solid red; */
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 3rem;
    padding: 6rem;
    padding-top: 3rem;



}
.product-detail-all{
    /* border: 2px solid pink; */
    /* padding-left: .5rem;
    padding-right: .5rem; */
    width: 100%;
    /* height: 270px; */
    /* height: 100%; */
    /* display:flex;
    flex-direction: column;
    justify-content: space-around */
}
.add-all-cart{
    position: absolute;
    right:2;
    bottom:2;
}
.far.fa-heart{
    color: rgb(234, 211, 215);
    font-size: x-large
}
.far.fa-heart:hover{
 color:red;
}

.heart-button{
    background-color:transparent;
    border:none;
}
.hearts-container{
    display:flex;
    justify-content: flex-end;
}
.not-logged-in-btn button{
 background-color: transparent;
 border: none;
 padding:0;
}
