.delete-review-form{
    /* border: 2px solid red; */
    padding:1rem;
}
.butons{
    display: flex;
    gap:1rem;
}
.confirm-delete{
    background-color: rgb(226, 3, 15);
    color:white;
    border: 2px solid rgb(226, 3, 15);
    width: 8rem;
    height:2rem;
    border-radius: 1rem;
}
.cancel-delete{
    background-color: black;
    color:white;
    border: 2px solid black;
    width: 8rem;
    height:2rem;
    border-radius: 1rem;
}
.confirm-delete:hover{
    cursor: pointer;
}
.cancel-delete:hover{
    cursor: pointer;
}
